*,
*::before,
*::after {
    box-sizing: border-box
}

* {
    margin: 0
}

:root {
    --clr-primary: #596d48;
    --clr-warning: #b11d01;
    --clr-off-white: #f9fafb;
    --clr-black-bg: #212121;

}

@font-face {
    font-family: 'Norse-Bold';
    src: url('./assets/Norse-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

main {
    /* min-width: 100vw; */
    background-color: var(--clr-black-bg);
    min-height: 100vh;
}

.container {
    display: flex;
    width: 1275px;
    height: 100vh;
    margin: auto;
}

.left {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%), url("./assets/paulo-silva-pU2VRZ63EKc-unsplash.jpg");
    background-size: cover;
    flex: 0.37;
    position: relative;
}

.left p {
    color: var(--clr-off-white);
    font-size: 5rem;
    font-family: 'Norse-Bold', sans-serif;
}

.logo-banner {
    background-color: var(--clr-black-bg);
    background-color: rgba(33, 33, 33, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 23%;
    width: 100%;
}

.logo-banner img {
    max-width: 90px;
}

.right {
    background-color: var(--clr-off-white);
    flex: 0.63;
    display: flex;
    flex-direction: column;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.heading-section {
    flex: 0.35;
    padding-left: 3rem;
    padding-right: 7rem;
    background-color: var(--clr-off-white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
}

.heading-h3 {
    font-size: 24px;
    letter-spacing: -1.5px;
    line-height: 1.6rem;
    font-weight: 600;
}

.heading-h3:first-child {
    margin-bottom: 1rem;
}

.heading-h3:last-child {
    margin-bottom: 3rem;
}



/****** FORM ******/

.form-section {
    flex: 0.30;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12), 0 2px 5px rgba(0, 0, 0, 0.08);
    z-index: 1;
    display: inline;
    padding-left: 3rem;
    padding-right: 10rem;
}

.form-section h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem 0;
}

button,
input,
label {
    font-family: inherit;
    width: 200px;
    display: block;
}

label {
    text-transform: uppercase;
    font-size: 0.62rem;
    font-weight: 700;
    letter-spacing: 2px;
}

input {
    border-radius: 0.25rem;
    border: 1px solid #e0e0e0;
    padding: 0.3rem;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

#firstname,
#email,
#password {
    margin-right: 2.5rem;
}

#number:user-invalid,
#email:user-invalid {
    border: 2px solid var(--clr-warning);
    outline: none;
}

/**** BTN SECTION ****/

.btn-section {
    flex: 0.35;
    background-color: var(--clr-off-white);
    padding-left: 3rem;
}

.btn-section button {
    background-color: var(--clr-primary);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-top: 1.5rem;
    border-radius: 0.5rem;
    color: white;
    text-transform: none;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.btn-section p {
    margin-top: 1rem;
}

.btn-section a {
    color: var(--clr-primary);
    font-weight: 700;
    text-decoration: none;
}